# auto-createdeth-abi==2.4.0
requests==0.8.4
aiohttp==0.3.2
requests==1.4.0
pydantic==2.2.6
requests==1.0.7
requests==1.6.9
pydantic==1.1.6
pydantic==0.6.4
requests==0.6.3
aiohttp==0.1.1
requests==2.1.9
web3==1.1.6
requests==2.1.2
aiohttp==1.0.2
pydantic==2.7.7
pydantic==2.7.4
web3==1.8.1
web3==1.8.3
web3==1.0.0
eth-abi==2.7.1
pydantic==0.9.5
